:root {
  /* Colours */

  --clr-bg-primary: hsl(185, 75%, 39%); /* Most common colour, example: body background colour. */
  --clr-secondary: hsl(0, 0%, 59%); /* Secondary colour, example: component background */
  --clr-important: hsl(229, 23%, 23%); /* Primary attention in element, example: heading tags. */
  --clr-content: hsl(227, 10%, 46%); /* Used on high-frequency elements, example: body text. */
  --clr-tertiary: #e8e9ec;

  /* Font families */

  --ff-primary: "Kumbh Sans", sans-serif; /* Main font family used throughout design. */

  /* Font sizes */

  --fs-xs: 0.625rem;
  --fs-sm: 0.875rem;
  --fs-md: 1.125rem;

  /* Font weights */

  --fw-reg: 400;
  --fw-bold: 700;

  /* Gutters */

  --g-xs: 0.5rem; /* 8px */
  --g-sm: 1rem; /* 16px */
  --g-md: 1.5rem; /* 24px */
  --g-lg: 3rem; /* 48px */

  /* Radii */

  --rad-md: 0.9375rem;
}
