:root {
  /* Colours */

  --clr-primary: hsl(217, 54%, 11%); /* Most common colour, example: body background colour. */
  --clr-secondary: hsl(216, 50%, 16%); /* Secondary colour, example: component background */
  --clr-tertiary: hsl(215, 32%, 27%); /* Tertiary colour, example: border, hr. */
  --clr-important: hsl(0, 0%, 100%); /* Primary attention in element, example: heading tags. */
  --clr-strong: hsl(178, 100%, 50%); /* Secondary attention in element, examples: strong tags, buttons or hover colour. */
  --clr-content: hsl(215, 51%, 70%); /* Used on high-frequency elements, example: body text. */

  /* Font families */

  --ff-primary: "Outfit", sans-serif; /* Main font family used throughout design. */

  /* Font sizes */

  --fs-sm: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.375rem;

  /* Font weights */

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semibold: 600;

  /* Gutters */

  --g-xs: 0.5rem; /* 8px */
  --g-sm: 1rem; /* 16px */
  --g-md: 1.5rem; /* 24px */
  --g-lg: 2rem; /* 32px */

  /* Radii */

  --rad-sm: 0.5rem;
  --rad-md: 0.9375rem; /* Seriously, couldn't they have just made it 16px for a nice easy 1rem... w/e */
}
